body {
  font-family: 'Ubuntu Mono', monospace;
  background: #2f3640;
  color: #dcdde1;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition-duration: .3s;
}

a:not(.black):hover {
  text-shadow: 2px 2px black;
}

.black:hover {
  text-shadow: 2px 2px white;
}

.header {
  margin-top: 20px;
  text-align: center;
}

.tab {
  text-align: center;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.child-tab:nth-child(odd) {
  background: #34495e;
  transform: translateX(10px);
}

.child-tab:nth-child(even) {
  background: #2c3e50;
  transform: translateX(-10px);
}

.child-tab {
  padding: 5px 10px;
  text-align: center;
  width: 200px;
}

.welp {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  margin-top: 20px;
}

.arrow-down {
  display: none;
}
