@import "variables";

.blur {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -4;
    backdrop-filter: blur(70px);
    top: 0;
    left: 0;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.hover {
    background: linear-gradient(
        90deg,
        rgba(235, 160, 120, 1) 0%,
        rgba(255, 235, 112, 1) 43%,
        rgba(240, 224, 153, 1) 78%
    );
    width: 130px;
    height: 100px;
    position: fixed;
    z-index: -5;
    border-radius: 50%;
    animation: rotate 3s linear infinite;
}
