@use "loading.scss";
@use "hover.scss";
@import "variables";

@font-face {
    font-family: "Dela Gothic One";
    src: url("/DelaGothicOne-Regular.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    background-color: $color2;
    color: rgb(240, 239, 230);
    font-family: "Dela Gothic One";
}

.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 10px;

    h1,
    p {
        margin: 0;
    }

    a {
        text-decoration: underline;
        color: $color1;
    }
}

@keyframes liked-thing {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    20% {
        transform: translateY(4px);
        opacity: 1;
    }

    80% {
        transform: translateY(4px);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.pencils-parent {
    display: flex;
    justify-content: center;

    .pencils {
        padding: 30px;
        max-width: $max-width;
        width: calc(100% - 60px);
        position: absolute;
        z-index: -1;

        .underline {
            display: flex;
            margin-top: 234px;
            transform: translateX(-7px);
        }

        .circle {
            display: flex;
            justify-content: flex-end;
            margin-top: 46px;
            transform: translateX(4px);
        }
    }
}

main {
    display: flex;
    justify-content: center;
}

.content {
    padding: 30px;
    max-width: $max-width;
    width: calc(100vw - 60px);

    a {
        text-decoration: underline;
        color: $color1;
    }

    .section-title {
        margin-bottom: 8px;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;

        .name {
            width: 100%;

            h1 {
                margin: 0;
                width: 229px;
            }
        }

        .quote {
            margin-top: 20px;
            display: flex;
            gap: 5px;

            p {
                margin: 0;
            }

            .i-like {
                font-size: 20px;
            }

            #likedElement {
                width: 30px;
                animation: liked-thing 6s ease-in-out infinite;

                span {
                    font-size: 14px;
                    color: black;
                    background-color: $color1;
                    padding: 2px;
                    border-radius: 3px;
                }
            }
        }
    }

    .codes-art {
        margin: 50px 0;

        h1,
        h2 {
            margin: 0;
        }

        div:nth-child(1) {
            display: flex;
        }

        div:nth-child(2) {
            display: flex;
            justify-content: center;
            margin-left: 30px;
        }

        div:nth-child(3) {
            display: flex;
            justify-content: flex-end;
        }
    }

    .socials {
        display: flex;
        justify-content: space-between;
    }

    .about-me {
        p {
            margin: 0;
        }
    }

    .skills {
        .ends {
            display: flex;
            justify-content: space-between;

            .end {
                gap: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    margin: 0;
                }
            }
        }
    }
}

.projects {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .project:not(:first-child, :nth-child(2)) {
        margin-top: 15px;
    }

    .project {
        width: 198px;
        height: 250px;
        outline: 2px solid $color1;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 5px 5px $color1;

        .project-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            overflow: hidden;
        }

        a {
            all: unset;
            cursor: pointer;
        }

        h2 {
            margin: 0;
        }

        .stack {
            display: flex;
            gap: 5px;

            img {
                height: 30px;
                width: auto;
            }
        }

        .preview {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        &:hover {
            background-color: $color1;
            color: $color2;
        }

        &:active {
            transform: translateY(5px);
            box-shadow: 5px 0 $color1;
        }
    }
}

.more-on {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

.pics {
    display: flex;
    justify-content: center;
    gap: 20px;

    div {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    img {
        width: 100%;
        height: auto;
        box-shadow: 10px 10px 10px black;
        border-radius: 3px;
    }
}

@media (max-width: 540px) {
    .content .skills .ends {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .projects {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 450px) {
    .content .socials img {
        height: 60px;
    }
}
