body {
  overflow-x: hidden;
  font-family: 'Ubuntu Mono', monospace;
  background: #2f3640;
  color: #dcdde1;
}

html {
  scroll-behavior: smooth;
}

.container {
  font-size: 110%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

a {
  text-decoration: none;
  transition-duration: .3s;
}

a:not(.black):hover {
  text-shadow: 2px 2px black;
}

.black:hover {
  text-shadow: 2px 2px white;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.tabs {
  display: table;
  margin: auto;
}

.tab {
  float: left;
  margin-left: 40px;
  margin-right: 40px;
}

.child-tab:nth-child(odd) {
  background: #34495e;
  transform: translateX(10px);
}

.child-tab:nth-child(even) {
  background: #2c3e50;
  transform: translateX(-10px);
}

.child-tab {
  padding: 5px 10px;
  text-align: center;
  width: 300px;
}

.welp {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  margin-top: 120px;
}

.arrow-down {
  font-size: 150%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  margin-top: 50;
}

.arrow-down a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: unset;
    position: unset;
    top: unset;
    transform: unset;
  }
}
