html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu Mono", monospace;
  background: linear-gradient(#9775f3, #c7897e);
  color: white;
}

p,
h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

.yellow {
  color: #e8fd88;
}

.bg-yellow {
  background-color: #f0db4f;
  color: black;
}

.bg-cobalt {
  background-color: #0077c8;
}

.bg-blue {
  background-color: #3571a2;
}

.bg-light-blue {
  color: black;
  background-color: #5ccfee;
}

.bg-white {
  background-color: white;
  color: black;
}

.bg-red {
  background-color: #f93c00;
}

.bg-green {
  background-color: #3fcf8e;
}

.bg-pink {
  background-color: #c45e92;
}

@-webkit-keyframes appear-from-left {
  0% {
    transform: translateX(-100%);
  }
}

@keyframes appear-from-left {
  0% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes content-from-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes content-from-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes text-from-left {
  100% {
    transform: translateX(0);
  }
}
@keyframes text-from-left {
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes text-from-top {
  100% {
    transform: translateY(0);
  }
}
@keyframes text-from-top {
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes lines-from-top {
  100% {
    transform: translateY(0);
  }
}
@keyframes lines-from-top {
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  100% {
    opacity: 1;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container .terminal {
  width: 90%;
  max-width: 1000px;
  margin: 20px 0;
  -webkit-animation: appear-from-left 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
          animation: appear-from-left 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.container .terminal .terminal-bar {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  z-index: -1;
}
.container .terminal .terminal-bar p {
  opacity: 0.4;
}
.container .terminal .terminal-content {
  position: relative;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}
.container .lines .command {
  margin-bottom: 5px;
}
.container .lines .command .body {
  display: flex;
}
.container .lines .command .body .ps1 {
  overflow: hidden;
  width: 110px;
}
.container .lines .command .body .ps1 .ps1-content {
  transform: translateY(-100%);
  -webkit-animation: text-from-top 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.7s forwards;
          animation: text-from-top 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.7s forwards;
}
.container .lines .command .body .command-text {
  overflow: hidden;
  position: relative;
  width: 50%;
}
.container .lines .command .body .command-text span {
  position: absolute;
  transform: translateX(-100%);
  -webkit-animation: text-from-left 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.5s forwards;
          animation: text-from-left 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.5s forwards;
}
.container .lines .response {
  margin-bottom: 15px;
  opacity: 0;
  -webkit-animation: appear 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 2.2s forwards;
          animation: appear 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 2.2s forwards;
}
.container .lines .line ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.container .lines .line ul a {
  color: #f8bc62;
}
.container .lines .line ul a:hover {
  color: #e8fd88;
}
.container .lines .line .neofetch {
  display: flex;
  gap: 20px;
}
.container .lines .line .neofetch img {
  -o-object-fit: cover;
     object-fit: cover;
}
.container .lines .line .neofetch pre {
  font-size: 6px;
  line-height: 6px;
}
.container .lines .line .neofetch .palette {
  margin-top: 20px;
  display: flex;
}
.container .lines .line .neofetch .palette div {
  width: 25px;
  height: 18px;
}
.container .lines .line .neofetch .palette div:nth-child(1) {
  background-color: white;
}
.container .lines .line .neofetch .palette div:nth-child(2) {
  background-color: linear-gradient(#9775f3, #c7897e);
}
.container .lines .line .neofetch .palette div:nth-child(3) {
  background-color: #e8fd88;
}
.container .lines .line .neofetch .palette div:nth-child(4) {
  background-color: #f8bc62;
}

@media (max-width: 600px) {
  p,
h2 {
    font-size: 16px;
  }
  .container .lines .command .body .ps1 {
    width: 90px;
  }
}/*# sourceMappingURL=style.css.map */