body {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background: #ffeaa7;
}

a.title {
  background: #fdcb6e;
  color: black;
  border-radius: 25px;
  padding: 7px 7px;
}

a.link {
  background: #e17055;
  margin-left: 7px;
  color: black;
}

a {
  text-decoration: none;
  color: blue;
}