body {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #e55039;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}

input {
    background: #fad390;
    padding: 12px 12px;
    border-radius: 25px;
    border-color: black;
}

button {
    background: #60a3bc;
    padding: 12px 12px;
    border-radius: 25px;
    border-color: black;
}

h1 {
    font-size: 60px;
}