body {
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    background: #78e08f;
}

a.title {
    padding: 12px 12px;
    border-radius: 25px;
    background: #4a69bd;
}

a.code {
    background: #f6b93b;
    padding: 12px 12px;
    text-decoration: none;
    color: #eb2f06;
    font-size: 25px;
    transition-duration: .3s;
}

.code:hover {
  font-size: 30px;
}

a.seba {
    background: #3c6382;
    padding: 12px 12px;
    border-radius: 25px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}