:root {
  --first-color: #1c1e26;
  --second-color: #bbbbbb;
  --third-color: #db886f;
  --fourth-color: #e4a88a;
  --font: 'Roboto Mono', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  background-color: var(--first-color);
  color: var(--second-color);
  font-family: var(--font);
}

.SebPic img {
  width: 200px;
}

.Info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InfoText {
  max-width: 160px;
}

.Socials {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Social {
  margin: 0px 10px;
}

.Social a {
  font-size: 40px;
  color: unset;
  text-decoration: unset;
  color: var(--third-color);
}

.Projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Project {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 220px;
  border: 2px solid var(--third-color);
  padding: 12px 12px;
  border-radius: 10px 10px;
  margin: 0 20px 20px;
  transition: color .2s, background-color .2s, border-color .2s;
}

.Project:hover {
  color: var(--first-color);
  background-color: var(--fourth-color);
  border-color: var(--fourth-color);
}

.Project * {
  margin: 0;
  padding: 0;
}

.Project h1 {
  margin-bottom: 10px;
}

.OpenProject {
  margin-top: auto;
}

.OpenProject a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 130%;
  background-color: var(--third-color);
  color: var(--first-color);
  border-radius: 3px;
  transition: background-color .3s, box-shadow .15s;
}

.OpenProject a:hover {
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem var(--fourth-color),
              0 0 0.8rem var(--fourth-color),
              0 0 2.8rem var(--fourth-color),
              inset 0 0 1.3rem var(--fourth-color);
}